@model User
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- 内容标题 -->
    <section class="content-header">
        <h1>
            @Model.UserName
            <small>用户详情</small>
        </h1>
        <!--  导航地图  -->
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">用户管理</li>
        </ol>
    </section>

    <!-- 内容Panel -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            @*<div class="box-header with-border">
                <h3 class="box-title"></h3>
            </div>*@
            <div class="box-body">
                <!--  这是写入要展示的内容开始  -->
                <div>
                    <!--详情标题-->
                    <div>
                        @Html.LabelFor(m => m.UserName)
                        @Html.DisplayFor(m => m.UserName)
                    </div>

                    <div>
                        @Html.LabelFor(m => m.MobilePhone)
                        @Html.DisplayFor(Model=>Model.MobilePhone)
                    </div>

                    <div>
                        @Html.LabelFor(m => m.Email)
                        @Html.DisplayFor(Model=>Model.Email)
                    </div>

                    <div>
                        @Html.LabelFor(m => m.CreateAt)
                        @Html.DisplayFor(Model=>Model.CreateAt)
                    </div>

                    

                </div>
                <!--  这是写入要展示的内容结束  -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
}
